In [1]:
# The code was removed by DSX for sharing.

In [2]:
rdd = sc.textFile("swift://CS340." + name + "/TableauSoftwareStockPrice.csv")
rdd.take(20)

[u'Date,Open,High,Low,Close,Volume,Adj Close',
 u'2016-03-01,46.41,48.630001,46.049999,48.599998,2832200,48.599998',
 u'2016-02-29,44.57,46.32,44.299999,45.650002,1914900,45.650002',
 u'2016-02-26,43.91,45.139999,43.009998,44.41,2677200,44.41',
 u'2016-02-25,43.330002,44.389999,42.349998,43.060001,1784600,43.060001',
 u'2016-02-24,40.50,42.16,39.619999,42.07,1580300,42.07',
 u'2016-02-23,42.599998,42.66,40.619999,40.84,1649600,40.84',
 u'2016-02-22,43.200001,43.200001,42.009998,42.66,1594200,42.66',
 u'2016-02-19,41.00,42.650002,40.509998,42.389999,1488300,42.389999',
 u'2016-02-18,41.91,42.400002,40.959999,41.09,1278500,41.09',
 u'2016-02-17,40.360001,42.16,40.189999,42.09,3071100,42.09',
 u'2016-02-16,40.970001,41.740002,39.779999,40.169998,2422200,40.169998',
 u'2016-02-12,40.459999,41.200001,39.07,40.25,1979000,40.25',
 u'2016-02-11,39.119999,40.380001,38.52,39.98,1770500,39.98',
 u'2016-02-10,40.09,41.080002,38.77,39.860001,3228000,39.860001',
 u'2016-02-09,36.599998,40.59,36.599998,39.23,5577300,39.23',
 u'2016-02-08,39.130001,40.52,36.860001,37.220001,6903400,37.220001',
 u'2016-02-05,44.049999,45.639999,40.040001,41.330002,21197700,41.330002',
 u'2016-02-04,79.489998,82.919998,77.730003,81.75,2917800,81.75',
 u'2016-02-03,77.919998,79.970001,73.730003,79.610001,1630800,79.610001']

In [3]:
# The SQLContext object is already initalized for you.
# The following variable contains the path to your file on your Object Storage.
path_1 = "swift://CS340." + name + "/NetflowData.txt"
rdd_data_2 = sc.textFile(path_1)
rdd_data_2.take(5)

[u'10.1.0.2,16.2.3.7,12,20K,http',
 u'18.6.7.1,12.4.0.3,16,24K,http',
 u'13.9.4.3,11.6.8.2,15,20K,http',
 u'15.2.2.9,17.1.2.1,19,40K,http',
 u'12.4.3.8,14.8.7.4,26,58K,http']

In [4]:
print sc.__doc__

    Main entry point for Spark functionality. A SparkContext represents the
    connection to a Spark cluster, and can be used to create L{RDD} and
    broadcast variables on that cluster.

In [5]:
rdd = sc.textFile("swift://CS340." + name + "/EmployedPopulationbyOccupationAge.csv")
rdd.take(5)

[u'"Table Code","Country or Area Code","Country or Area","Year","Area Code","Area","Sex Code","Sex","Code of Age","Age","Code of Occupation","Occupation","Record Type Code","Record Type","Reliability Code","Reliability","Source Year","Value","Value Footnotes"',
 u'"322","248","\xc5land Islands","2000","0","Total","0","Both Sexes","015024","15 - 24","088000","Armed forces (ISCO 88 - 0)","5","Census - de jure - complete tabulation","0","Final figure, complete","2009","0",""',
 u'"322","248","\xc5land Islands","2000","0","Total","0","Both Sexes","015024","15 - 24","088001","Legislators, senior officials and managers (ISCO 88 - 1)","5","Census - de jure - complete tabulation","0","Final figure, complete","2009","1",""',
 u'"322","248","\xc5land Islands","2000","0","Total","0","Both Sexes","015024","15 - 24","088002","Professionals (ISCO 88 - 2)","5","Census - de jure - complete tabulation","0","Final figure, complete","2009","58",""',
 u'"322","248","\xc5land Islands","2000","0","Total","0","Both Sexes","015024","15 - 24","088003","Technicians and associate professionals (ISCO 88 - 3)","5","Census - de jure - complete tabulation","0","Final figure, complete","2009","65",""']

In [6]:
rdd.count()

21327

In [7]:
rdd.first()

u'"Table Code","Country or Area Code","Country or Area","Year","Area Code","Area","Sex Code","Sex","Code of Age","Age","Code of Occupation","Occupation","Record Type Code","Record Type","Reliability Code","Reliability","Source Year","Value","Value Footnotes"'

In [8]:
rdd.filter(lambda line: "Armed forces" in line).count()

1091